In [9]:
import pandas as pd

In [10]:
df = pd.read_excel('test.xlsx')

In [16]:
df

   benh
0     1
1     2
2     3
3     4
4     5
5     6
6     1
7     2
8     3

In [13]:
df = pd.get_dummies(df)

In [15]:
df

   benh
0     1
1     2
2     3
3     4
4     5
5     6
6     1
7     2
8     3